scopeName: 'source.gherkin'
name: 'Gherkin'
fileTypes: ['feature']
patterns: [
  {
    include: '#comments'
  }
  {
    include: '#tags'
  }
  {
    include: '#feature'
  }
  {
    include: '#background'
  }
  {
    include: '#scenario_outline'
  }
  {
    include: '#scenario'
  }
  {
    include: '#examples'
  }
  {
    include: '#steps'
  }
  {
    include: '#table'
  }
  {
    include: '#doc_string'
  }
]

repository:
  comments:
    patterns: [
      {
        match: '\\s*#.*$'
        name: 'comment.line.number-sign.gherkin'
      }
    ]

  tags:
    patterns: [
      {
        match: '@[^\\s]+'
        name: 'storage.type.tag.gherkin'
      }
    ]

  feature:
    patterns: [
      {
        begin: '^\\s*(Feature):\\s*(.*)$'
        beginCaptures:
          '1':
            name: 'keyword.control.feature.gherkin'
          '2':
            name: 'entity.name.feature.gherkin'
        end: '^(?=\\s*@|\\s*(Background|Scenario Outline|Scenario|Examples|Rule))'
        name: 'meta.feature.gherkin'
        patterns: [
          {
            include: '#comments'
          }
          {
            match: '^\\s*(.*)$'
            captures:
              '1':
                name: 'string.unquoted.feature.description.gherkin'
          }
        ]
      }
    ]

  background:
    patterns: [
      {
        begin: '^\\s*(Background|Rule):\\s*(.*)$'
        beginCaptures:
          '1':
            name: 'keyword.control.background.gherkin'
          '2':
            name: 'entity.name.background.gherkin'
        end: '^(?=\\s*@|\\s*(Scenario Outline|Scenario|Examples|Feature|Rule|Background))'
        name: 'meta.background.gherkin'
        patterns: [
          {
            include: '#steps'
          }
          {
            include: '#comments'
          }
          {
            include: '#table'
          }
          {
            include: '#doc_string'
          }
        ]
      }
    ]

  scenario_outline:
    patterns: [
      {
        begin: '^\\s*(Scenario Outline|Scenario Template):\\s*(.*)$'
        beginCaptures:
          '1':
            name: 'keyword.control.scenario.outline.gherkin'
          '2':
            name: 'entity.name.scenario.gherkin'
        end: '^(?=\\s*@|\\s*(Scenario Outline|Scenario|Background|Feature|Examples|Rule))'
        name: 'meta.scenario.outline.gherkin'
        patterns: [
          {
            include: '#steps'
          }
          {
            include: '#comments'
          }
          {
            include: '#table'
          }
          {
            include: '#doc_string'
          }
        ]
      }
    ]

  scenario:
    patterns: [
      {
        begin: '^\\s*(Scenario|Example):\\s*(.*)$'
        beginCaptures:
          '1':
            name: 'keyword.control.scenario.gherkin'
          '2':
            name: 'entity.name.scenario.gherkin'
        end: '^(?=\\s*@|\\s*(Scenario Outline|Scenario|Background|Feature|Examples|Rule|Example))'
        name: 'meta.scenario.gherkin'
        patterns: [
          {
            include: '#steps'
          }
          {
            include: '#comments'
          }
          {
            include: '#table'
          }
          {
            include: '#doc_string'
          }
        ]
      }
    ]

  examples:
    patterns: [
      {
        begin: '^\\s*(Examples|Scenarios):\\s*(.*)$'
        beginCaptures:
          '1':
            name: 'keyword.control.examples.gherkin'
          '2':
            name: 'entity.name.examples.gherkin'
        end: '^(?=\\s*@|\\s*(Scenario Outline|Scenario|Background|Feature|Rule|Example))'
        name: 'meta.examples.gherkin'
        patterns: [
          {
            include: '#table'
          }
          {
            include: '#comments'
          }
        ]
      }
    ]

  steps:
    patterns: [
      {
        begin: '^\\s*(Given|When|Then|And|But|\\*)\\s+'
        beginCaptures:
          '1':
            name: 'keyword.control.step.gherkin'
        end: '$'
        name: 'meta.step.gherkin'
        patterns: [
          {
            include: '#step_parameters'
          }
          {
            match: '.*'
            name: 'string.unquoted.step.gherkin'
          }
        ]
      }
    ]

  step_parameters:
    patterns: [
      {
        match: '"[^"]*"'
        name: 'string.quoted.double.parameter.gherkin'
      }
      {
        match: '<[^>]*>'
        name: 'variable.parameter.placeholder.gherkin'
      }
      {
        match: '\\b\\d+\\b'
        name: 'constant.numeric.parameter.gherkin'
      }
    ]

  table:
    patterns: [
      {
        begin: '^(\\s*)(\\|)'
        beginCaptures:
          '2':
            name: 'punctuation.definition.table.begin.gherkin'
        end: '(\\|)(\\s*)$'
        endCaptures:
          '1':
            name: 'punctuation.definition.table.end.gherkin'
        name: 'meta.table.gherkin'
        patterns: [
          {
            match: '\\|'
            name: 'punctuation.separator.table.gherkin'
          }
          {
            match: '[^|\\s][^|]*[^|\\s]|[^|\\s]'
            name: 'string.unquoted.table.cell.gherkin'
          }
          {
            match: '\\s+'
            name: 'meta.whitespace.table.gherkin'
          }
        ]
      }
    ]

  doc_string:
    patterns: [
      {
        begin: '^\\s*(""")\\s*$'
        beginCaptures:
          '1':
            name: 'punctuation.definition.string.begin.gherkin'
        end: '^\\s*(""")\\s*$'
        endCaptures:
          '1':
            name: 'punctuation.definition.string.end.gherkin'
        name: 'string.quoted.triple.gherkin'
      }
      {
        begin: '^\\s*(```)\\s*$'
        beginCaptures:
          '1':
            name: 'punctuation.definition.string.begin.gherkin'
        end: '^\\s*(```)\\s*$'
        endCaptures:
          '1':
            name: 'punctuation.definition.string.end.gherkin'
        name: 'string.quoted.triple.gherkin'
      }
    ]
